@import "settings",
		"typography";

.items-list {
    > ul {
        > li {
            position: relative;
            @for $i from 1 through 100 {
                &:nth-child(#{$i}) {
                    z-index: 100 - $i;
                }
            }
        }
    }
}
.pager {
    display: flex;
    justify-content: center;
    > * {
        margin: 4px;
    }
}