<div class="hand-container" [class.dark]="dark" [class.active]="active">
    <div class="hand animated zoomIn">
        <div class="card card-green animated slideInUp">
            <img src="/assets/symbols/g.svg" />
        </div>
        <div class="card card-red animated slideInUp">
            <img src="/assets/symbols/r.svg" />
        </div>
        <div class="card card-black animated slideInUp">
            <img src="/assets/symbols/b.svg" />
        </div>
        <div class="card card-blue animated slideInUp">
            <img src="/assets/symbols/u.svg" />
        </div>
        <div class="card card-white">
            <img src="/assets/symbols/w.svg" />
        </div>
    </div>
</div>