@import "settings";

#header {
    height: $header-height;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $header-bg;
    z-index: 10;
	padding: 8px;
	border-bottom: $border;
	
    .logo {
        display: flex;
        align-items: center;
		cursor: pointer;
		border-radius: $border-radius;
		position: relative;
        img {
            display: block;
            border-radius: $border-radius;
            overflow: hidden;
            height: 40px;
            &.logo-image-small {
                display: none;
			}
        }
        span {
            margin: 0 12px;
            font-size: 24px;
            text-transform: uppercase;
            letter-spacing: 2px;
            @media(max-width: $screen-medium) {
                font-size: 16px;
                margin: 0 12px;
            }
            @media(max-width: $screen-small) {
                display: none;
            }
        }
    }

    .max {
        position: relative;
        height: $header-height;
        z-index: 4;
    }
}

@media (max-width: $screen-medium) {
	#menu .menu.tabs {
		> ul > li {
			flex: 1;
		}
	}
	mb-search {
		width: 100%;
	}
}