.graveyard {
	z-index: 1;
	position: absolute;
	top: $ch + 2% + 2%;
	right: 0;
	margin: 2%;
	height: $ch;
	.cards-wrapper {
		border-top-right-radius: 0;
		.cards {
			.card {
				height: 100%;
				position: absolute;
				right: 0;
				@for $i from 1 through 10 {
					&:nth-child(#{$i + 1}) {
						top: 8px * $i;
					}
				}
				.card-inner {
					height: 100%;
					img {
						height: 100%;
						transform-origin: top right;
						max-width: none;
					}
				}
				&.cdk-drag-placeholder {
					opacity: .5;
					top: 0 !important;
					left: 0 !important;
				}
			}
		}
	}
	.label {
		position: absolute;
		bottom: 100%;
		right: 0;
		border-top-left-radius: $border-radius;
		border-top-right-radius: $border-radius;
		border-bottom: 0;
	}
}