<div class="max">
	<div class="flex">
		<div class="auto-margin align-center">
			<div id="page-home">
				<div class="logo margin-bottom">
					<img src="/assets/logo/manabinder2.svg" />
					<h1 class="margin-bottom"><b>Mana</b> Binder</h1>
				</div>
				<div class="padding"></div>
				<mb-alert [alert]="alert"></mb-alert>
				<p>Mana Binder is a Magic: The Gathering card management web application. Notable features include advanced card searching, detailed card information, deck and binder management, image recognition scanner, shared collection management, deck playtesting/goldfishing, online multiplayer lobbies, and more.</p>
				<p>MAGIC: THE GATHERING AND ITS RESPECTIVE PROPERTIES ARE COPYRIGHT WIZARDS OF THE COAST.
					MANA BINDER IS UNOFFICIAL FAN CONTENT PERMITTED UNDER THE FAN CONTENT POLICY. NOT APPROVED/ENDORSED BY WIZARDS. PORTIONS OF THE MATERIALS USED ARE PROPERTY OF WIZARDS OF THE COAST. © WIZARDS OF THE COAST LLC.</p>
				<p>v{{version}}</p>
			</div>
		</div>
	</div>
</div>